<h4>Add new custom field:</h4>
<table class="cf_forms">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% form_for :custom_field, :url => custom_fields_path(@page) do |f| %>
      <%= f.hidden_field :page_id, :value => params[:page_id] %>
      <tr>
        <td class="cf_name">
          <%= f.text_field :name, :class => "tb_name", :style => "display:none;" %>
          <select id="select_name" name="select_name" class="select_name">
            <option value="">- Select -</option>
            <% @cfs.each do |cfs| %>
            <option value="<%= cfs %>"><%= cfs %></option>
            <% end -%>   
          </select>
          <%= link_to "Enter new", "#", :id => "enter_new_custom_field", :class => "add_new_links" %>
          <%= link_to "Cancel", "#", :id => "cancel_enter_new_custom_field", :style => "display:none;", :class => "add_new_links" %>
        </td>
        <td class="cf_value"><%= f.text_area :value, :cols => 40, :rows => 2 %></td>
      </tr>
      <tr>
        <td class="cf_action"><%= submit_tag 'Add Custom Field' %></td>
      </tr>
    <% end -%>    
  </tbody>
</table>