= show_flash_message
#cf
  #add_new_custom_field.clearfix
    %a#add_new_custom_field_link{:href => '#'} Add new custom field
    #add_new_custom_field_div{:style => 'display:none;'}
      = render :partial => 'admin/custom_fields/new'
  #index_custom_fields
    %table.cf_forms
      %thead
        %tr
          %th Name
          %th Value
      %tbody
        - @custom_fields.each do |cf|
          - form_for :custom_field, :url => custom_field_path(@page, cf), :html => {:method => :put} do |f|
            = f.hidden_field :page_id, :value => params[:page_id]
            %tr
              %td.cf_name= f.text_field :name, :value => cf.name
              %td.cf_value= f.text_area :value, :value => cf.value, :cols => 50, :rows => 2
            %tr
              %td.cf_action
                = submit_tag 'Update'
                = link_to "Delete", custom_field_path(@page, cf), :method => :delete, :confirm => "Are you sure you want to delete '#{cf.name}' custom field?", :class => "cf_links"
              %td &nbsp;