#add_cf
  %a#add_cf_link{:href => '#'} Add new custom field
  #add_cf_div{:style => 'display:none;'}
    = render :partial => 'admin/custom_fields/new'

%table
  %thead
    %tr
      %th Name
      %th Value
  %tbody
    - @custom_fields.each do |cf|
      - form_for :custom_field, :url => custom_field_path(@page, cf), :html => {:method => :put} do |f|
        = f.hidden_field :page_id, :value => params[:page_id]
        %tr{:id => dom_id(cf)}
          %td.name= f.text_field :name, :value => cf.name
          %td.value= f.text_area :value, :value => cf.value, :cols => 50, :rows => 2
        %tr
          %td.actions{ :colspan => 2 }
            = submit_tag 'Update'
            = link_to "Delete", custom_field_path(@page, cf), :method => :delete, :confirm => "Are you sure you want to delete '#{cf.name}' custom field?"