#add_cf
  %a#add_cf_link{:href => '#'}= t('cf_add_new_custom_field')
  #add_cf_div.cf_box{:style => 'display:none;'}
    = render 'new'

.cf_box
  .top
    .name
      = t('cf_name')
    .value
      = t('cf_value')
  .content
    = render @custom_fields